{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/district.css">
{{/section}}

<div class="custom-container">
    <div class="card">
        <div class="custom-card">
            <h5 class="card-header d-flex justify-content-center">Danh sách các bảng quảng cáo của địa chỉ {{adsLocationName}}</h5> 
        </div>
    </div>
    <div>
        <div class="card mt-5">
        <h5 class="card-header d-flex justify-content-between align-items-center p-3">
            Xem danh sách điểm đặt quảng cáo
        </h5>
        {{#if isEmpty}}
            <div class="card-body">Không có dữ liệu</div>
        {{else}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">#</span>
                    </th>
                    <th scope="col" class="col-3">
                        <span class="d-flex justify-content-center">Loại bảng quảng cáo</span>
                    </th>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">Kích thước</span>
                    </th>
                    <th scope="col" class="col-2">
                        <span class="d-flex justify-content-center">Hợp đồng</span>
                    </th>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">Chi tiết</span>
                    </th>
                    <th scope="col" class="col-2">
                        <span class="d-flex justify-content-center">Yêu cầu chỉnh sửa</span>
                    </th>
                    <th scope="col" class="col-2">
                        <span class="d-flex justify-content-center">Yêu cầu cấp phép</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each adsPanel}}
                <tr>
                    <th scope="row">
                        <span class="d-flex justify-content-center">
                            {{stt}}
                        </span>
                    </th>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{ads_panel_type_name}}
                        </span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{width}}m x {{height}}m
                        </span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{license}}
                        </span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-sm btn-outline-info" href="./view-panel-detail?adsPanelId={{adsPanelId}}" role="button">
                                Xem chi tiết
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="d-flex view-detail mt-1" href="./ads-panel-edit?adsPanelId={{adsPanelId}}" role="button">
                                <span class="ml-1">Yêu cầu</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="d-flex view-detail mt-1" href="./license-request?adsPanelId={{adsPanelId}}" role="button">
                                <span class="ml-1">Yêu cầu</span>
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/ward-officer/ads" role="button">
                <i class="bi bi-skip-backward-fill"></i>
                Danh sách điểm quảng cáo
            </a>
        </div>
    </div>
</div>