{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/district.css">
{{/section}}

<div class="custom-container">
    <div class="card">
        <div class="custom-card">
            <h5 class="card-header d-flex justify-content-center">Danh sách các điểm đặt quảng cáo của phường {{wardName}} quận {{districtName}}</h5> 
        </div>
    </div>
    <div>
        <div class="card mt-5">
        <h5 class="card-header d-flex justify-content-between align-items-center p-3">
            Xem danh sách điểm đặt quảng cáo
        </h5>
        {{#if isEmpty}}
            <div class="card-body">Không có dữ liệu</div>
        {{else}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">#</span>
                    </th>
                    <th scope="col" class="col-3">
                        <span class="d-flex justify-content-center">Địa chỉ</span>
                    </th>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">Loại</span>
                    </th>
                    <th scope="col" class="col-2">
                        <span class="d-flex justify-content-center">Hình thức quảng cáo</span>
                    </th>
                    <th scope="col" class="col-2">
                        <span class="d-flex justify-content-center">Tình trạng quy hoạch</span>
                    </th>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">Bảng quảng cáo</span>
                    </th>
                    <th scope="col" class="col-2">
                        <span class="d-flex justify-content-center">Yêu cầu chỉnh sửa</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each arrayAdsLocation}}
                <tr>
                    <th scope="row">
                        <span class="d-flex justify-content-center">
                            {{stt}}
                        </span>
                    </th>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{location}}
                        </span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{location_type_name}}
                        </span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{ads_type_name}}
                        </span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{status}}
                        </span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="d-flex view-detail mt-1" href="ads/view-detail?adsLocationId={{adsLocationId}}" role="button">
                                
                                <img src="/static/images/departmentOfficer/icon-view-detail.png" width="24" height="24" alt="view detail">
                                <span class="ml-1">Danh sách</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="d-flex view-detail mt-1" href="ads/ads-location-edit?adsLocationId={{adsLocationId}}">
                                Yêu cầu
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <div class="card-footer text-muted font-italic">
            <span class="small">{{date}}</span>
        </div>
    </div>
</div>