{{#section "js"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="/static/js/wardOfficer/edit-ads-panel.js"></script>  
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">
{{/section}}

<div class="custom-container">
    <form action="" >
        <div class="form-group">
            <label for="txtLocationType">Loại vị trí</label>
            <select class="custom-select" name="adsPanelType" id="txtLocationType">
                {{#each adsPanelType}}
                <option value="{{this.adsPanelTypeId}}" >{{this.name}}</option>
                {{/each}}
            </select>  
        </div>
        <div class="form-group">
            <label for="txtQuantity">Số lượng</label>
            <input type="text" id="txtQuantity" class="form-control"  placeholder="{{adsPanel.quantity}}">
        </div>
        <div class="form-group">
            <label for="txtWidth">Chiều rộng</label>
            <input type="text" id="txtWidth" class="form-control"  placeholder="{{adsPanel.width}}">
        </div>
        <div class="form-group">
            <label for="txtHeight">Chiều cao</label>
            <input type="text" id="txtHeight" class="form-control"  value="{{adsPanel.height}}">
        </div>
        <div class="form-group">
            <label for="fuMain">Hình ảnh</label>
            <input type="file" id="fuMain" name="image" class="form-control">
        </div>
    </form>
</div>