{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/district.css">
{{/section}}
{{#section 'js'}}
    <script src="/static/js/wardOfficer/ads_location.js"></script>
{{/section}}

<div class="custom-container">
    <div class="card">
        <div class="custom-card">
            <h5 class="card-header d-flex justify-content-center">Danh sách hợp đồng của phường {{wardName}} quận {{districtName}}</h5> 
        </div>
    </div>
    <div>
        <div class="card mt-5">
        <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h5>Xem danh sách yêu cầu hợp đồng</h5>
            <form id="searchForm" action="" method="post" class="d-flex flex-row col-md-4">
            {{!-- <div class="d-flex flex-row col-md-4"> --}}
                    <input type="text" class="form-control col-md-8" id="keyword" name="keyword" placeholder="Tìm kiếm">
                    <button type="submit" id="submitBtn" class="btn btn-primary form-control col-md-4">Tìm kiếm</button>
            {{!-- </div> --}}
            </form>
        </div>
        {{#if isEmpty}}
            <div class="card-body">Không có dữ liệu</div>
        {{else}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 2%">#</th>
                    <th scope="col" style="width: 10%">Địa chỉ</th>
                    <th scope="col" style="width: 7%">Khu vực</th>
                    <th scope="col" style="width: 8%">Loại bảng</th>
                    <th scope="col" style="width: 9%">Kích thước</th>
                    <th scope="col" style="width: 8%">Hình thức</th>
                    <th scope="col" style="width: 8%">Phân loại</th>
                    <th scope="col" style="width: 11%">Nội dung và ảnh</th>
                    {{!-- <th scope="col" style="width: 8%">Hình ảnh</th> --}}
                    <th scope="col" style="width: 17%">Thông tin LH</th>
                    <th scope="col" style="width: 10%">Thời gian</th>
                    <th scope="col" style="width: 10%">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each licenseArray}}
                    <tr>
                        <th scope="row">{{this.stt}}</th>
                        <td>{{this.ads_location_name}}</td>
                        <td>Phường {{this.ward_name}} - Quận {{this.district_name}}</td>
                        <td>{{this.ads_panel_type_name}}</td>
                        <td>{{this.width}}m x {{this.height}}m</td>
                        <td>{{this.ads_type_name}}</td>
                        <td>{{this.ads_location_type_name}}</td>
                        <td>{{this.content}} - Ảnh: {{this.img_link}}</td>
                        <td>Tên công ty: {{this.nameCompany}} - Địa chỉ: {{this.locationCompany}} - Email: {{this.emailCompany}} - Số ĐT: {{this.phoneCompany}}</td>
                        <td>{{this.startDate}} - {{this.endDate}}</td>
                        <td class="d-flex">
                            {{#if (equal status 'Chưa duyệt')}}
                                <div class="d-flex justify-content-center" style="margin-right: 10px;">
                                    <a class="btn btn-sm btn-outline-info" data-id="{{this.licenseRequestId}}" id="cancel-{{this.licenseRequestId}}" role="button">
                                        <img src="/static/images/departmentOfficer/icon-cancel.png" width="24" height="24" alt="cancel this request">
                                    </a>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-sm btn-outline-info" data-id="{{this.licenseRequestId}}" data-value="{{this.adsPanelId}}" id="accept-{{this.licenseRequestId}}" role="button">
                                        <img src="/static/images/departmentOfficer/icon-accept.png" width="24" height="24" alt="accept this request">
                                    </a>
                                </div>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <div class="card-footer text-muted font-italic">
            <span class="small">{{date}}</span>
        </div>
    </div>
</div>