{{#section 'js'}}
    <script src="/static/js/departmentOfficer/ads_location_modification_request/index.js"></script>
{{/section}}

<div class="custom-container">
    <div class="card">
        <div class="custom-card">
            <h5 class="card-header">Danh sách các yêu cầu chỉnh sửa điểm đặt quảng cáo được gửi từ Phường, Quận</h5> 
        </div>
    </div>
    <div class="d-flex mt-3 justify-content-end">
        <div class="districts" style="margin-right: 10px;">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownDistrict" data-toggle="dropdown" aria-expanded="false">
            {{districtName}}
            </button>
            <input type="hidden" id="selectedDistrictId" value="{{districtId}}">
            <ul class="dropdown-menu" aria-labelledby="dropdownDistrict" style="max-height: 500px; overflow-y: auto;">
                <li><a class="dropdown-item active" data-value="Tất cả quận" data-id="-1">Tất cả quận</a></li>
                {{#each districts}}
                    <li><a class="dropdown-item" data-value="{{name}}" data-id="{{districtId}}">Quận {{name}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="wards">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownWard" data-toggle="dropdown" aria-expanded="false">
            {{wardName}}
            </button>
            <input type="hidden" id="selectedWardId" value="{{wardId}}">
            <ul class="dropdown-menu" aria-labelledby="dropdownWard" style="max-height: 500px; overflow-y: auto;">
                <li><a class="dropdown-item active" href="ads-location-modification-request?districtId={{districtId}}&wardId=-1&page=1" data-value="Tất cả phường" data-id="-1">Tất cả phường</a></li>
                {{#each wards}}
                    <li><a class="dropdown-item" href="ads-location-modification-request?districtId={{districtId}}&wardId={{wardId}}&page=1" data-value="{{name}}" data-id="{{wardId}}">Phường {{name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div>
        <div class="list card mt-3">
            <h5 class="card-header">Xem danh sách</h5>
            {{#if empty}}
                <div class="card-body">Không có dữ liệu</div>
            {{else}}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 2%">#</th>
                            <th scope="col" style="width: 10%">Thời điểm xin</th>
                            {{!-- <th scope="col" style="width: 15%">Lí do</th> --}}
                            <th scope="col" style="width: 24%">Địa chỉ</th>
                            <th scope="col" style="width: 13%">Khu vực</th>
                            <th scope="col" style="width: 8%">Loại vị trí</th>
                            <th scope="col" style="width: 12%">Hình thức QC</th>
                            {{!-- <th scope="col" style="width: 8%">Hình ảnh</th> --}}
                            <th scope="col" style="width: 9%">Trạng thái</th>
                            <th scope="col" style="width: 10%">Hành động</th>
                            <th scope="col" style="width: 12%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each edit_ads_locations_request}}
                            <tr>
                                <th scope="row">{{stt}}</th>
                                <td>{{requestTime}}</td>
                                {{!-- <td>{{requestReason}}</td> --}}
                                <td>{{ads_location_name}}</td>
                                <td>Phường {{ward_name}}<br>- Quận {{district_name}}</td>
                                <td>{{ads_location_type_name}}</td>
                                <td>{{ads_type_name}}</td>
                                {{!-- <td>{{img_link}}</td> --}}
                                <td>{{status}}</td>
                                <td class="d-flex">
                                    {{#if (equal status 'Chưa duyệt')}}
                                        <div class="d-flex justify-content-center" style="margin-right: 10px;">
                                            <a class="btn btn-sm btn-outline-info" data-id="{{requestId}}" id="cancel-{{requestId}}" role="button">
                                                <img src="/static/images/departmentOfficer/icon-cancel.png" width="24" height="24" alt="cancel this request">
                                            </a>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <a class="btn btn-sm btn-outline-info" data-id="{{requestId}}" data-value="{{adsLocationId}}" id="accept-{{requestId}}" role="button">
                                                <img src="/static/images/departmentOfficer/icon-accept.png" width="24" height="24" alt="accept this request">
                                            </a>
                                        </div>
                                    {{/if}}
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <a class="d-flex view-detail mt-1" href="ads-location-modification-request/view-detail?requestId={{requestId}}&stt={{stt}}" role="button">
                                            <img src="/static/images/departmentOfficer/icon-view-detail.png" width="24" height="24" alt="view detail">
                                            <span class="ml-1">Xem chi tiết</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}
            <div class="card-footer text-muted font-italic">
                <span class="small" id="dateSpan">{{date}}</span>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="justify-content-center mt-5" id="pagination">
            <ul class="pagination justify-content-center">
                {{#if isFirstPage}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Trang trước</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="#" id="previousPage">Trang trước</a>
                    </li>
                {{/if}}

                {{#each pageNumbers}}
                    {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <a class="page-link" href="{{#if (equal value '..')}}#pagination{{else}}ads-location-modification-request?districtId={{districtId}}&wardId={{wardId}}&page={{value}}{{/if}}">{{value}}</a>
                    {{/if}}
                {{/each}}

                {{#if isLastPage}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Trang sau</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="#" id="nextPage">Trang sau</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <input type="hidden" id="page" value="{{page}}">
    </div>
</div>