<div class="custom-container">
    <form action="" method="post">
        <div class="card">
            <h5 class="card-header">
            Xem chi tiết yêu cầu chỉnh sửa điểm đặt quảng cáo
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtStt">#</label>
                    <input type="text" id="txtStt" class="form-control" readonly value="{{stt}}">
                </div>
                <div class="form-group">
                    <label for="txtTimeSend">Thời gian gửi</label>
                    <input type="text" id="txtTimeSend" class="form-control" readonly value="{{edit_ads_locations_request.requestTime}}">
                </div>
                <div class="form-group">
                    <label for="txtLocation">Địa chỉ</label>
                    <input type="text" id="txtLocation" class="form-control" readonly value="{{edit_ads_locations_request.ads_location_name}}">
                </div>
                <div class="form-group">
                    <label for="txtWard">Phường</label>
                    <input class="form-control" id="txtWard" readonly value="{{edit_ads_locations_request.ward_name}}"></input>
                </div>
                <div class="form-group">
                    <label for="txtDistrict">Quận</label>
                    <input class="form-control" id="txtDistrict" readonly value="{{edit_ads_locations_request.district_name}}"></input>
                </div>
                <div class="form-group">
                    <label for="txtLocationType">Loại bảng quảng cáo</label>
                    <input type="text" id="txtLocationType" class="form-control" readonly value="{{edit_ads_locations_request.ads_location_type_name}}">
                </div>
                <div class="form-group">
                    <label for="txtAdsType">Hình thức quảng cáo</label>
                    <input type="text" id="txtAdsType" class="form-control" readonly value="{{edit_ads_locations_request.ads_type_name}}">
                </div>

                <div class="form-group">
                    <label for="txtContent">Lý do</label>
                    <input type="text" id="txtContent" class="form-control" readonly value="{{edit_ads_locations_request.requestReason}}">
                </div>

                <div class="form-group">
                    <label for="txtImage">Hình ảnh điểm đặt quảng cáo</label>
                    <img src="{{edit_ads_locations_request.img_link}}" class="d-flex justify-content-center" alt="">
                </div>
                
                <div class="form-group">
                    <label for="txtStatus">Trạng thái</label>
                    <input type="text" id="txtStatus" class="form-control" readonly value="{{edit_ads_locations_request.status}}">
                </div>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-outline-success" href="/department-officer/ads-location-modification-request?districtId=-1&wardId=-1&page=1" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                    Danh sách
                </a>
            </div>
        </div>
    </form>
</div>