{{#section 'js'}}
    <script src="/static/js/departmentOfficer/management_ward/list.js"></script>
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/district.css">
{{/section}}

<div class="custom-container">
    <div class="card">
        <div class="custom-card">
            <h5 class="card-header d-flex justify-content-center">Danh sách các phường của {{districtName}} thành phố Hồ Chí Minh</h5> 
        </div>
    </div>

    <div class="d-flex mt-3 justify-content-end">
        <div class="districts" style="margin-right: 10px;">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownDistrict" data-toggle="dropdown" aria-expanded="false">
            {{districtName}}
            </button>
            <input type="hidden" id="selectedDistrictId" value="{{districtId}}">
            <ul class="dropdown-menu" aria-labelledby="dropdownDistrict" style="max-height: 500px; overflow-y: auto;">
                <li><a class="dropdown-item active" href="ward?districtId=-1&page=1" data-value="Tất cả quận" data-id="-1">Tất cả quận</a></li>
                {{#each districts}}
                    <li><a class="dropdown-item" href="ward?districtId={{districtId}}&page=1" data-value="{{name}}" data-id="{{districtId}}">Quận {{name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div>
        <div class="card mt-3">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Xem danh sách phường
            <a href="ward/add?districtId={{districtId}}" class="d-flex btn btn-outline-info" role="button">
                <img src="/static/images/departmentOfficer/icon-add.png" width="24" height="24" alt="add a district">
                <span class="ml-1">Thêm một phường</span>
            </a>
        </h5>
        {{#if empty}}
            <div class="card-body">Không có dữ liệu</div>
        {{else}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">#</span>
                    </th>
                    <th scope="col" class="col-3">
                        <span class="d-flex justify-content-center">Tên phường</span>
                    </th>
                    <th scope="col" class="col-5">
                        <span class="d-flex justify-content-center">Mô tả</span>
                    </th>
                    <th scope="col" class="col-1">
                        <span class="d-flex justify-content-center">Hành động</span>
                    </th>
                    <th scope="col" class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                {{#each ward}}
                <tr>
                    <th scope="row">
                        <span class="d-flex justify-content-center">
                            {{stt}}
                        </span>
                    </th>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{name}}
                        </span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center">
                            {{description}}
                        </span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-sm btn-outline-info" href="ward/edit?districtId={{districtId}}&wardId={{wardId}}" role="button">
                                <img src="/static/images/departmentOfficer/icon-edit.png" width="24" height="24" alt="edit this row">
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="d-flex view-detail mt-1" href="ward/view-detail?districtId={{districtId}}&wardId={{wardId}}" role="button">
                                <img src="/static/images/departmentOfficer/icon-view-detail.png" width="24" height="24" alt="view detail">
                                <span class="ml-1">Xem chi tiết</span>
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <div class="card-footer text-muted font-italic">
            <span class="small">{{date}}</span>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="justify-content-center mt-5" id="pagination">
        <ul class="pagination justify-content-center">
            {{#if isFirstPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Trang trước</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="#" id="previousPage">Trang trước</a>
                </li>
            {{/if}}

            {{#each pageNumbers}}
                {{#if isActive}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{value}}</a>
                </li>
                {{else}}
                <a class="page-link" href="{{#if (equal value '..')}}#pagination{{else}}ward?districtId={{districtId}}&page={{value}}{{/if}}">{{value}}</a>
                {{/if}}
            {{/each}}

            {{#if isLastPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Trang sau</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="#" id="nextPage">Trang sau</a>
                </li>
            {{/if}}
        </ul>
    </nav>
</div>