{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {{!-- To get lat, long --}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> --}}

    {{!-- To get image --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>

    {{!-- My script --}}
    <script src="/static/js/departmentOfficer/management_ads_location/add.js"></script>
{{/section}}

{{#section 'css'}}
    {{!-- To get lat, long --}}
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    
    {{!-- To get image--}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

    {{!-- My css --}}
    <link rel="stylesheet" href="/static/css/departmentOfficer/district.css">

{{/section}}

<div class="custom-container">
    <div class="card" style="display: none;" id="errorLocation">
        <div class="custom-card-2">
            <h5 class="card-header d-flex justify-content-center" style="font-style: italic; font-size: 16px;">Thêm địa điểm đặt quảng cáo không thành công. Vui lòng chọn vị trí trên bản đồ.</h5> 
        </div>
    </div>

    <div class="card" style="display: none;" id="errorImage">
        <div class="custom-card-2">
            <h5 class="card-header d-flex justify-content-center" style="font-style: italic; font-size: 16px;">Thêm địa điểm đặt quảng cáo không thành công. Vui lòng thêm hình ảnh điểm đặt quảng cáo.</h5> 
        </div>
    </div>

    <form action="" method="post" id="frmAdd">  
            <div class="card-body">
                <div id="map" style="height: 400px;"></div>
                <div class="form-group mt-3">
                    <label for="txtCoordinates" class="form-label">Toạ độ</label>
                    <div class="input-group">
                        <input type="text" name="coordinate" id="txtCoordinates" class="form-control" placeholder="Nhấn vào bản đồ để chọn nơi đặt quảng cáo" autofocus readonly required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtLocation">Địa chỉ điểm đặt quảng cáo</label>
                     <input type="text" name="location" id="txtLocation" class="form-control" readonly required>
                </div>

                <div class="d-flex mt-3">
                    <div class="form-group">
                        <div class="typeLocation mr-5">
                            <label for="dropdownTypeLocation">Loại vị trí</label>
                            <button class="form-control dropdown-toggle" type="button" id="dropdownTypeLocation" data-toggle="dropdown" aria-expanded="false">
                            Đất công
                            </button>
                            <input id="selectedTypeLocation" name="locationType" type="hidden" value="1"></input>
                            <ul class="dropdown-menu" aria-labelledby="dropdownTypeLocation"  style="max-height: 500px; overflow-y: auto;">
                                {{#each typeLocation}}
                                    <li><a class="dropdown-item" data-value="{{name}}" data-id="{{locationTypeId}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="typeAdsPanel mr-5">
                            <label for="dropdownAdsPanel">Hình thức quảng cáo</label>
                            <button class="form-control dropdown-toggle" type="button" id="dropdownAdsPanel" data-toggle="dropdown" aria-expanded="false">
                            Cổ động chính trị
                            </button>
                            <input id="selectedTypeAdsPanel" name="adsType" type="hidden" value="1"></input>
                            <ul class="dropdown-menu" aria-labelledby="dropdownAdsPanel"  style="max-height: 500px; overflow-y: auto;">
                                {{#each typeAdsPanel}}
                                    <li><a class="dropdown-item" data-value="{{name}}" data-id="{{adsTypeId}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-1">
                    <label for="img">Hình ảnh điểm đặt bảng quảng cáo</label>
                    <input type="file" id="image" name="image">
                    <input type="hidden" id="imgId" name="imgId" value="{{lengthImg}}">
                </div>

                <input type="hidden" name="wardId" id="wardId" value="wardId">
                <input type="hidden" id="adsLocationId" value="{{adsLocationId}}">
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-outline-success" href="/department-officer/ads-location" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                    Danh sách
                </a>
                <button id="submitButton" type="submit" class="btn btn-primary">
                    <i class="bi bi-check2"></i>
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>