<div class="custom-container">
    <form action="" method="post">
        <div class="card">
            <h5 class="card-header">
            Xem chi tiết bảng quảng cáo
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtAdsPanelId">#</label>
                    <input type="text" id="txtAdsPanelId" class="form-control" readonly value="{{adsPanel.adsPanelId}}">
                </div>
                <div class="form-group">
                    <label for="txtName">Loại bảng quảng cáo</label>
                    <input type="text" id="txtName" class="form-control" readonly value="{{adsPanel.ads_panel_type_name}}">
                </div>
                <div class="form-group">
                    <label for="txtQuantity">Số lượng</label>
                    <input type="text" class="form-control" id="txtQuantity" readonly value="{{adsPanel.quantity}}">
                </div>
                <div class="form-group">
                    <label for="txt">Kích thước</label>
                    <input type="text" class="form-control" id="txtSize" readonly value="{{adsPanel.width}}m x {{adsPanel.height}}m">
                </div>
            </div>
            <h5 class="card-header">
            Thông tin hợp đồng
            </h5>
            {{#if (equal adsPanel.license_status "Đã duyệt")}}
                <div class="card-body row d-flex justify-content-center align-items-center">
                    <div class="form-group col-md-5">
                        <label for="image">Hình ảnh</label>
                        <img src="{{adsPanel.license_imgId_link}}" alt="bảng quảng cáo">
                    </div>                       
                    <div class="form-group col-md-7">
                            <div class="">
                                <label for="image">Tên công ty</label>
                                <input type="text" class="form-control" id="txtCompanyName" readonly value="{{adsPanel.nameCompany}}">
                            </div>
                            <div class="">
                                <label for="image">Số điện thoại</label>
                                <input type="text" class="form-control" id="txtPhone" readonly value="{{adsPanel.phoneCompany}}">
                            </div>
                            <div class="">
                                <label for="image">Email</label>
                                <input type="text" class="form-control" id="txtEmail" readonly value="{{adsPanel.emailCompany}}">
                            </div>
                            <div class="">
                                <label for="image">Ngày bắt đầu hợp đồng</label>
                                <input type="text" class="form-control" id="txtEmail" readonly value="{{adsPanel.startDate}}">
                            </div>
                            <div class="">
                                <label for="image">Ngày kết thúc hợp đồng</label>
                                <input type="text" class="form-control" id="txtEmail" readonly value="{{adsPanel.endDate}}">
                        </div>
                    </div>

                </div>
            {{else}}
                <div class="card-body">
                    <div class="form-group">
                        Chưa có thông tin hợp đồng hoặc hợp đồng chưa được duyệt
                    </div>
                </div>
            {{/if}}
            
            <div class="card-footer text-muted">
                <a class="btn btn-outline-success" href="{{returnUrl}}" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                    Danh sách bảng quảng cáo
                </a>
            </div>
        </div>
    </form>
</div>