{{#section "js"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="/static/js/wardOfficer/edit-ads-panel.js"></script>  
{{/section}}
{{#section "css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">
{{/section}}

<div class="custom-container">
    <h3>Chỉnh sửa bảng quảng cáo</h3>
    <form id="formAdsPanelEdit" action="" method="post">
        <input type="hidden" id="txtAdsPanelId" name="txtAdsPanelId" class="form-control" value={{adsPanel.adsPanelId}}>
        <input type="hidden" id="txtAdsLocationId" name="txtAdsLocationId" class="form-control" value={{adsPanel.adsLocationId}}>
        <div class="form-group">
            <label for="txtLocationType">Loại bảng quảng cáo</label>
            <select class="custom-select" name="adsPanelType" id="txtLocationType" required>
                {{#each adsPanelType}}
                <option value="{{this.adsPanelTypeId}}" >{{this.name}}</option>
                {{/each}}
            </select>  
        </div>
        <div class="form-group">
            <label for="txtQuantity">Số lượng</label>
            <input type="text" id="txtQuantity" name="Quantity" class="form-control"  placeholder="{{adsPanel.quantity}}" required>
        </div>
        <div class="form-group">
            <label for="txtWidth">Chiều rộng</label>
            <input type="text" id="txtWidth" name="Width" class="form-control"  placeholder="{{adsPanel.width}}" required>
        </div>
        <div class="form-group">
            <label for="txtHeight">Chiều cao</label>
            <input type="text" id="txtHeight" name="Height" class="form-control"  placeholder="{{adsPanel.height}}" required>
        </div>
        <div class="form-group">
            <label for="txtRequestReason">Lí do chỉnh sửa</label>
            <textarea class="form-control" id="txtRequestReason" name="RequestReason" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
    </form>
</div>