<div class="custom-container">
    <div class="card">
        <div class="custom-card">
            <h5 class="card-header">Danh sách các điểm đặt quảng cáo của thành phố Hồ Chí Minh</h5> 
        </div>
    </div>
    <div class="d-flex justify-content-end mt-5">
        <button type="button" class="d-flex btn btn-outline-info">
            <img src="/static/images/departmentOfficer/icon-add.png" width="24" height="24" alt="add a point">
            <span class="ml-1">Thêm một điểm</span>
        </button>
        <button type="button" class="d-flex btn btn-outline-info ml-3">
            <img src="/static/images/departmentOfficer/icon-delete.png" width="24" height="24" alt="delete a point">
            <span class="ml-1">Xóa một điểm</span>
        </button>
        <button type="button" class="d-flex btn btn-outline-info ml-3">
            <img src="/static/images/departmentOfficer/icon-update.png" width="24" height="24" alt="update a point">
            <span class="ml-1">Cập nhật một điểm</span>
        </button>
    </div>
    <div>
        <div class="card mt-5">
        <h5 class="card-header">Xem danh sách</h5>
        {{#if empty}}
            <div class="card-body">Không có dữ liệu</div>
        {{else}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-3">Địa chỉ</th>
                    <th scope="col" class="col-2">Loại vị trí</th>
                    <th scope="col" class="col-2">Hình thức quảng cáo</th>
                    <th scope="col" class="col-2">Phường</th>
                    <th scope="col" class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                {{!-- <tr>
                    <th scope="row">1</th>
                    <td>xxxx</td>
                    <td>Đất công</td>
                    <td>Quảng cáo thương mại</td>
                    <td>Phường 4 Quận 5</td>
                    <td class="d-flex">
                        <img src="/static/images/departmentOfficer/icon-view-detail.png" width="24" height="24" alt="view detail">
                        <span class="ml-1">Xem chi tiết</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>xxxx</td>
                    <td>Công viên</td>
                    <td>Cổ động chính trị</td>
                    <td>Phường 4 Quận 5</td>
                    <td class="d-flex">
                        <img src="/static/images/departmentOfficer/icon-view-detail.png" width="24" height="24" alt="view detail">
                        <span class="ml-1">Xem chi tiết</span>
                    </td>
                </tr> --}}
                {{#each ads_loation}}
                <tr>
                    <th scope="row">{{stt}}</th>
                    <td>{{location}}</td>
                    <td>{{locationType}}</td>
                    <td>{{adsType}}</td>
                    <td>{{ward}}</td>
                    <td class="d-flex">
                        <img src="/static/images/departmentOfficer/icon-view-detail.png" width="24" height="24" alt="view detail">
                        <span class="ml-1">Xem chi tiết</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>