{{#section 'js'}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>

    <script src="/static/js/departmentOfficer/management_ads_panel/edit.js"></script>
{{/section}}

{{#section "css"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">
{{/section}}

<div class="custom-container">
    <form action="" method="post" id="frmAdd">
        <div class="card">
            <h5 class="card-header">
            Chỉnh sửa bảng quảng cáo
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtStt">#</label>
                    <input type="text" id="txtStt" class="form-control" readonly value="{{stt}}">
                </div>
                <div class="adsLocation">
                    <label for="dropdownAdsLocation">Điểm đặt quảng cáo</label>
                    <button class="form-control dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownAdsLocation" data-toggle="dropdown" aria-describedby="adsLocationError" aria-expanded="false" required>
                    {{adsPanelCurrent.ads_location_name}}
                    </button>
                    <div class="input-group has-validation">
                        <input id="selectedAdsLocation" name="adsLocationId" type="hidden" value="{{adsPanelCurrent.adsLocationId}}"></input>
                        <div id="adsLocationError" class="invalid-feedback">
                            Vui lòng chọn một điểm đặt.
                        </div>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownAdsLocation" style="max-height: 500px; overflow-y: auto;" required>
                        {{#each adsLocations}}
                            <li><a class="dropdown-item" data-value="{{location}}" data-id="{{adsLocationId}}">{{location}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <div class="adsAdsPanelType mt-1">
                    <label for="dropdownAdsPanelType">Loại bảng quảng cáo</label>
                    <button class="form-control dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownAdsPanelType" data-toggle="dropdown" aria-describedby="adsPanelTypeError" aria-expanded="false" required>
                    {{adsPanelCurrent.ads_panel_type_name}}
                    </button>
                    <div class="input-group has-validation">
                        <input id="selectedAdsPanelType" name="adsPanelTypeId" type="hidden" value="{{adsPanelCurrent.adsPanelTypeId}}"></input>
                        <div id="adsPanelTypeError" class="invalid-feedback">
                            Vui lòng chọn một loại bảng quảng cáo.
                        </div>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownAdsPanelType" style="max-height: 500px; overflow-y: auto;" required>
                        {{#each adsPanelTypes}}
                            <li><a class="dropdown-item" data-value="{{name}}" data-id="{{adsPanelTypeId}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="d-flex form-group ">
                    <div>
                        <label for="txtWidth">Chiều rộng</label>
                        <div class="input-group has-validation">
                            <input type="text" name="width" id="txtWidth" class="form-control is-invalid" style="margin-right: 10px;" aria-describedby="checkValidationEmptyWidth" required>
                            <div id="checkValidationEmptyWidth" class="invalid-feedback">
                                Vui lòng không để trống mục này
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="txtHeight">Chiều dài</label>
                        <div class="input-group has-validation">
                            <input type="text" name="height" id="txtHeight" class="form-control is-invalid" style="margin-right: 10px;" aria-describedby="checkValidationEmptyHeight" required>
                            <div id="checkValidationEmptyHeight" class="invalid-feedback">
                                Vui lòng không để trống mục này
                            </div>
                        </div>
                    </div>
                </div>
                
                {{!-- <div class="form-group mb-1"> --}}
                    {{!-- <label for="img">Ảnh bảng quảng cáo</label> --}}
                    {{!-- <input type="file" id="img" name="image"> --}}
                    {{!-- <input type="hidden" id="imgId" name="imgId" value="{{adsPanelCurrent.image_id}}"> --}}
                {{!-- </div> --}}
                {{!-- <input type="hidden" name="adsPanelId" value="{{adsPanelCurrent.adsPanelId}}"> --}}
            </div>
            
            <div class="card-footer text-muted">
                <a class="btn btn-outline-success" href="/department-officer/ads-panel" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                    Danh sách
                </a>
                <button id="btnDelete" type="submit" class="btn btn-danger" formaction="/department-officer/ads-panel/del">
                    <i class="bi bi-trash-fill"></i>
                    Xóa
                </button>
                <button id="btnSubmit" type="submit" class="btn btn-primary" formaction="/department-officer/ads-panel/patch">
                    <i class="bi bi-check2"></i>
                    Lưu
                </button>
                <input type="hidden" id="action" value="noAction">
            </div>
        </div>
    </form>
</div>